	body {
		margin: 0 auto;
	}
	
	h1{
		text-align: center;
		text-shadow: blue;

	}

	p{
		
	}

	img{
		
	}
	
	.imgindex{
		
	}
	
	#principal {
		
	}

	.lista{
		list-style-type: none;
		text-decoration: none;
	}