	body {
		margin: 0 auto;
	}
	
	h1{
		text-align: center;
		text-shadow: blue;
		 font-family: "Cormorant Garamond", serif;
  		font-optical-sizing: auto;
  		font-weight: weight;
 		 font-style: normal;

	}

	p{
		
	}

	img{
		
	}
	
	.imgindex{
		
	}
	
	#principal {
		
	}

	.lista{
		list-style-type: none;
	}

	a{
		text-decoration: none;
	}