	body {
		margin: 0 auto;
		background-color: darkslategrey;
	}
	
	h1{
		text-align: center;
		text-shadow: blue;
		font-family: "Cormorant Garamond", serif;
  		font-optical-sizing: auto;
  		font-weight: weight;
 		font-style: normal;

	}

	p{
		
	}

	img{
		
	}
	
	.imgindex{
		
	}
	
	#principal {
		
	}

	a{
		list-style-type: none;
		text-decoration: none;
		align-items: center;
		border: 20px;
		border-color: black;
		border-radius: 20px;
		padding: 10px;
		margin: 10px;
	}